import React from 'react';
import './App.css';

function App() {
  return (
    <div>
      <header>
        <h1>{[% react_app.title | default('My React App') %]}</h1>
        <p>{[% react_app.message | default('This is a custom React page managed by Ansible!') %]}</p>
      </header>

      <div className="img-container">
        <img src="/logo192.png" alt="React Logo" />
      </div>

      <footer>
        <p>Powered by React & Ansible</p>
      </footer>
    </div>
  );
}

export default App;

